@font-face {
  font-family: "Purista Bold";
  src: url("Purista Bold.otf");
}

html { 
  background: url("background4.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  font-family: "Purista Bold";
  -webkit-user-select: none;
  user-select: none;
}

.list-item-tab {
	list-style-type: none;
}

#active-mods {
	display: none;
	border-bottom: 2px solid #FF9900;
}

.tabbar {
	position: absolute;
	top: 142px;
	left: 32vw;
	display: none;
}

.tabbed {
	display: none;
}

.tablinks {
	display: block;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	border: none;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 14px;
	transition: 0.1s;
	color: white;
	font-family: "Purista Bold";
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
}

.tablinks:hover {
	color: #FFB442;
}

.tablinks.active {
	color: #FF9900;
	background-color: rgba(0,0,0,0.85);
}

.logoarea {
	position: fixed;
	display: block;
	top: 40px;
	left: 30px;
	margin: 0;
	padding: 0;
}

.logo {
	display: block;
	width: 200px;
}

.navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
}

.nav-exit {
	float: right;
    border: none;
    padding: 10px 14px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    background-position: center;
    outline: none;
}

.nav-exit:hover {
	background: #ff1a1a;
}

.nav-fullscreen {
	float: right;
    border: none;
    padding: 10px 14px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    background-position: center;
    outline: none;
}

.nav-fullscreen:hover {
	background-color: rgba(8,8,8,0.3);
}

.area-left {
	position: absolute;
	display: block;
	top: 5cm;
	left: 0.5cm;
	bottom: 0.5cm;
}

.list-select {
	list-style-type: none; 
    padding-left: 0;
	height: auto;
	width: auto;
}

.list-item {
	position: relative;
	display: block;
	padding: 3px;
	background-color: rgba(8,8,8,0.6);
	margin-top: 25px;
	font-size: 20px;
}

.list-text {
	padding: 0px 20px;
	font-size: 20px;
}

.hide {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox-label:hover .checkbox {
	background-color: #A2A2A2;
	transition: background-color 0.4s;
}

.checkbox-label:hover {
	color: #FFB442;
	transition: color 0.1s;
}

.check-input:checked ~ .checkbox {
	background-color: white;
	border-color: #FF9900;
}

.checkbox {
	display: block;
	width: 13px;
	height: 13px;
	float: left;	
	background-color: #828282;
	border: solid #828282;
	border-width: 4px;
	box-shadow: 0 0 2px #000;
	transition: all 0.2s;
}

.checkbox-label {
	display: block;
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
	padding: 13px;
	margin-bottom: 2px;
	transition: color 0.4s;
}

.checkbox-text {
	float: left;
	font-size: 15px;
	margin-left: 18px;
	vertical-align: middle;
}

.menu-button {
	display: block;
    padding: 1.4vh 1.5em;
    outline: none;
	margin-bottom: 1vh;
    -webkit-user-select: none;
    width: 20vw;
    background-color: rgba(8,8,8,0.6);
    color: #f2f2f2;
	border: solid #F99000;
	border-width: 0px 0px 0.0vh 0px; 
	transition: background-color 0.4s, border-width 0.1s linear;
    text-decoration: none;
    text-transform: bold;
    cursor:default;
}

.menu-button:target {
    background-color:rgba(4,4,4,0.8);
	border-width: 0px 0px 0.0vh 2mm;
}

.menu-button:hover {
    background-color:rgba(4,4,4,0.8);
	transition: background-color 0.2s, border-width 0.1s linear;
}

.center {
	background-color: rgba(0,0,0,0.7);
    width:65vw;
	top: 5cm;
	left: 32vw;
	bottom: 0.5cm;
    overflow: auto;
	position: fixed;
	scrollbar-width: thin;
	scrollbar-color: #F99000 black;
	user-select: none;
}

.menu-item {
	color: white;
}

.menu-item .bb_h3 {
	display: none;
}

#news {
	display: none;
}

#parameters {
	display: none;
}

#mods {
	display: none;
}

#servers {
	display: none;
}

.play-button {
	-webkit-user-select: none;
	background-color: #F99000;
	background-position: center;
	border: none;
	bottom: 0;
	box-shadow: 0 0 4px #000;
	color: white;
	cursor: default;
	display:block;
	font-size: 18px;
	outline: none;
	padding: 12px;
	position: absolute;
	text-decoration: none;
	text-transform: bold;
	transition: background 0.8s;
	width: 23vw;
	max-width: 7cm;
	left: 2vw;
}

.play-button:active {
  background: #ffad33 radial-gradient(circle, transparent 1%, #ffad33 1%) center/15000%;
  background-size: 100%;
  transition: background 0s;
}

.feed-item-title {	
	text-transform: bold;
	padding-left: 20px;
	font-size: 20px;
}

.feed-item-title a {
	text-decoration: none;
	color: white;
}

.feed-title-image {
	width: 10%;
	height: 10%;
}

.feed-item-desc {
	background-color: rgba(8,8,8,0.6);
	padding: 20px;
}

.feed-item-desc img {
	width: 100%;
}

.feed-item-desc a {
	text-decoration: none;
	color: #F99000;
}
